{% extends 'base.html.twig' %}
{% block stylesheets %}
<style>
.glass-effect {
    transition: all 0.3s ease-in-out;
    border-radius: 10px;
    filter: blur(0px) brightness(1);
}

.glass-effect:hover {
    transform: scale(1.05);
    animation: blurEffect 0.6s ease-in-out forwards;
}

@keyframes blurEffect {
    0% {
        filter: blur(2px) brightness(1.2);
    }
    50% {
        filter: blur(4px) brightness(1.4);
    }
    100% {
        filter: blur(0px) brightness(1.2);
    }
}
	@font-face{
            font-family: myFont;
            src:url(cloudsters-cloudsters-400.ttf);
        }
h1{
	font-family: myFont;
}
@font-face{
            font-family: productFont;
            src:url(carrol-wild-carrol-wild-clean-400.ttf);
        }
body {
            font-family: productFont, sans-serif;
			overflow-y: hidden;
        }
</style>
{% endblock %}
{% block title %}M&Code Shop
{% endblock %}

{% block body %}
	<div class="container">
		<h1>{{subCategory.name}}</h1>
		<div class="row">
			{% for product in products %}
				<div class="col-md-3 mt-4">
					<div class="card glass-effect" style="width:18rem; ">
					<a href="{{path('app_show', {'id':product.id})}}">
						<img src="{{asset('uploads/images/'~product.image)}}" class="card-img-top" alt="">
						</a>
						<div class="card-body">
							<a href="{{path('app_show', {'id':product.id})}}" style="text-decoration: none;">
							<h5 class="card-title text-secondary" style="font-weight: bold;">{{ product.name }}</h5>
                            </a>
							<p class="card-text">{{ product.description|slice(0,40) }}..</p>
							<a href="#" class="text-success">{{ 'Add to cart'|trans }}</a>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
