{% extends 'base.html.twig' %}

{% block title %}{{ 'Register'|trans }}{% endblock %}

{% block body %}
<div class="container">
    {{ form_start(registrationForm, { 'attr': { 'class': 'registration-form' } }) }}
        {{ form_errors(registrationForm) }}

        <h1 class="h3 mb-3 font-weight-normal">Register</h1>
        
        {{ form_row(registrationForm.email, {
            'label': 'Email',
            'attr': { 'class': 'form-control', 'id': 'inputEmail', 'autocomplete': 'email' }
        }) }}

        {{ form_row(registrationForm.firstName, {
            'label': 'First Name',
            'attr': { 'class': 'form-control', 'id': 'inputFirstName', 'autocomplete': 'given-name' }
        }) }}

        {{ form_row(registrationForm.lastName, {
            'label': 'Last Name',
            'attr': { 'class': 'form-control', 'id': 'inputLastName', 'autocomplete': 'family-name' }
        }) }}

        {{ form_row(registrationForm.plainPassword, {
            'label': 'Password',
            'attr': { 'class': 'form-control', 'id': 'inputPassword', 'autocomplete': 'new-password' }
        }) }}

        <button type="submit" class="btn btn-lg btn-primary mt-3">
            {{ 'Register'|trans }}
        </button>
    {{ form_end(registrationForm) }}
</div>
{% endblock %}
