{{ form_start(form) }}
<label for="">{{ 'Name of subcategory'|trans }}</label>
    {{ form_widget(form.name, {attr: {'class': 'form form-control'}}) }}
    <label for="">category</label>
    {{ form_widget(form.category, {attr: {'class': 'form form-control'}}) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
