{% extends 'base.html.twig' %}

{% block title %}{{ 'Edit SubCategory'|trans }}{% endblock %}

{% block body %}

    <div class="container">
        <div class="form">
        <br>
        <h2>{{ 'Modify subcategory'|trans }}</h2>
        <br>
        {{ form_start(form) }}
        {{ form_row(form.name, {'attr': {'class': 'form form-control'}}) }}
        {{ form_row(form.category, {'attr': {'class': 'form-control'}}) }}
        <br>
        <input type="submit" value="modify" class="btn btn-primary">
        <input type="button" value="cancel" onclick="window.location.href='/admin/category';" class="btn btn-secondary">
        {{ form_end(form) }}
        </div>
    </div>

{% endblock %}
