{% extends 'base.html.twig' %}

{% block title %}New City{{ 'New City'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'Create new City'|trans }}</h1>

    {{ include('city/_form.html.twig') }}

    <a href="{{ path('app_city_index') }}">{{ 'back to list'|trans }}</a>
{% endblock %}
